/*Intro*/
.background{
    -fx-background-color: #2d3250;
}

.tab-background{
    -fx-background-color: #424769;
}

.label{
    -fx-text-fill: #ffffff;
}

.text-field{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #676f9d;
}
/*Home*/
.button-home{
    -fx-background-color: transparent;
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 15px;
}

.label{
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 15px;
    -fx-font-color: black;
}
/*Perfil*/
.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-text-fill: white;

}

.text-area .scroll-pane {
    -fx-background-color: transparent;

}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;

}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;

}
.label-perfil{
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 50px;
    -fx-font-color: black;
}

.button-perfil{
    -fx-background-color: transparent;
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

/*Pokedex*/
.label-pokedex{
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 30px;
    -fx-font-color: black;
}

/*Tienda*/
.button-tienda{
    -fx-background-color: #b242b4;
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 15px;
}
.button-tienda:hover {
    -fx-background-color: rgba(53,89,119,0.4); /* Color cuando se pasa el cursor */
    -fx-text-fill: #FFFFFF; /* Color del texto cuando se pasa el cursor */
}