.left-login{
    -fx-background-color: #424242;
    -fx-background-radius: 10.0;

}
.right-login{
    -fx-background-color: #121212;
}
.low-login{
    -fx-background-color: #616161;
    -fx-background-radius: 10.0;

}
.label{
    -fx-text-fill: White;
}