.background{
    -fx-background-color: #2d3250;
}

.tab-background{
    -fx-background-color: #424769;
}

.label{
    -fx-text-fill: #ffffff;
}

.text-field{
    -fx-border-color: grey;
    -fx-border width: 0 0 1 0; // top, right, bottom, left
    -fx-background-color: #676f9d;
}